.Menu {
  background-color: #272727;
  height: 50px;
  display: flex;
  box-sizing: border-box;
}

@media (min-width: 500px) {
  .Menu {
    height: 50px;
    display: flex;
    flex-direction: row;
  }
}
