.DrawerToggle {
  min-width: 50px;
  width: 50px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.DrawerToggle div {
  width: 70%;
  height: 3px;
  background-color: #ecf0f1;
}

@media (min-width: 800px) {
  .DrawerToggle {
      display: none;
  }
}
