.Profile {
  display: flex;
  padding: 0;
  background-color: transparent;
  height: 100%;
  width: 50%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; 
  margin: 0;
  max-width: 150px;
  flex-grow: 1;
}

.Img {
  margin-left: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.ProfileName {
  color: rgb(204, 204, 204);
  flex-grow: 2;
  margin-left: 10px;
  text-align: start;
}

@media (min-width: 800px) {
  .Profile {
    display: flex;
  }
}
