.Button {
  width: 120px;
  height: 35px;
  text-transform: uppercase;
  color: #bdc3c7;
  background-color: transparent;
  border: 1px solid #2980b9;
  border-radius: 15px;
  box-sizing: border-box;
  transition: 0.1s;
}

.Button:focus,
.Button:hover {
  transform: translateY(-5px);
  outline: none;
  border: 1px solid #3498db;
}
