.Input {
  height: 40px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 10px;
}

.InputElement {
  /* height: ; */
  color: #34495e;
  font-size: 18px;
  padding: 4px 2px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #2980b9;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0;
  outline: none;
  font: inherit;
}

.InputElement:focus {
  color: #34495e;
  outline: none;
  border: none;
  border-bottom: 2px solid #3498db;
}

.InputElement::placeholder {
  color: rgba(189, 195, 199, 1);
  font-size: 1em;
}

.Invalid {
  border-bottom: 2px solid #c0392b;
}

.Invalid:focus {
  border-bottom: 2px solid #e74c3c;
}

.Error {
  color: #c0392b;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
