.Auth {
  padding: 30px;
  box-sizing: border-box;
  background-color: #ecf0f1;
  width: 350px;
  height: 250px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.65);
}

.Buttons {
  padding: 10px 20px;
  padding-bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
