.NoteItem {
  height: 80px;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.Active {
  background-color: rgba(52, 152, 219, .1);
}

.Title {
  text-align: start;
  font-weight: bold;
  margin: 0;
}

.Content {
  text-align: start;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  height: 22px;
  overflow: hidden;
}

.Date {
  font-size: 0.7em;
  text-align: start;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

@media (min-width: 800px) {
  .NoteItem {
    padding: 8px;
  }
}
